body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    display: flex;
    flex-direction: column;
    flex: 2;
    overflow-y: auto;
    padding: 20px;
}

aside {
    display: flex;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

/* Ensure responsiveness for mobile devices */
@media (max-width: 767px) {
    main {
        flex-direction: column;
    }
    
    article, aside {
        flex: auto;
    }
}